
.title__page {
  font-size: 36px;
  font-weight: normal;
}

.title__page_home-page {
  margin-top: 70px;
  margin-bottom: 50px;
}

.title__page_sect {
  font-size: 30px;
}

.title__page_sect-find-in-city {
  margin-bottom: 40px;
}

.title__page_how-work {
  margin-bottom: 25px;
}

.title__page_zum-anbeib {
  color: $white;
  margin-bottom: 25px;
}

.title__page_bestellst {
  line-height: 1.57;
  margin-bottom: 10px;
}

.title__page_oko {
  margin-top: 90px;
  margin-bottom: 40px;
  padding-right: 10px;
}

.title__page_heute {
  margin-bottom: 50px;
  max-width: 510px;
  padding-right: 20px;
}
