<header id="header" class="g-width">
  <div class="header__elem header-top g-list-elem list-elem_top-header">
    <div class="g-list-elem header__logo-wrap">
      <div class="header__open-menu"></div>

      <a href="/" class="header-logo logo">
        <img class="logo-img" src="/assets/img/logo.svg" alt="Logo"/>
      </a>

      <div class="g-list-elem header__manag-elem_mob">
        <div class="list-elem__item_manag-mob"></div>
        <div class="list-elem__item_manag-mob"></div>
      </div>
    </div>

    <div class="g-list-elem header__manag-elem">
      <div class="g-list-elem list-elem_vacans">
        <div class="g-list-elem__item list-elem__item_vacans">
          <a href="/" class="list-elem__link_vacans">Franchise</a>
        </div>
        <div class="g-list-elem__item list-elem__item_vacans">
          <a href="/" class="list-elem__link_vacans">Partnerbereich</a>
        </div>
        <div class="g-list-elem__item list-elem__item_vacans">
          <a href="/" class="list-elem__link_vacans">Jobs</a>
        </div>
      </div>
      <!-- -->
      <div class="g-list-elem list-elem_manag-customer">
        <div class="g-list-elem__item list-elem__item_customer">
          <div class="list-elem__item-wrap">
            <div class="list-elem__cust-icon list-elem__cust-icon_reg"></div>
            <p class="list-elem__cust-text">anmeldung</p>
          </div>
        </div>
        <div class="g-list-elem__item list-elem__item_customer">
          <div class="list-elem__item-wrap">
            <div class="list-elem__cust-icon list-elem__cust-icon_favoriten">
              <span class="list-elem__cust-count cdk-overlay-backdrop-showing">1</span>
            </div>
            <p class="list-elem__cust-text">favoriten</p>
          </div>
        </div>
        <div class="g-list-elem__item list-elem__item_customer">
          <div class="list-elem__item-wrap">
            <div class="list-elem__cust-icon list-elem__cust-icon_warenkorb">
              <span class="list-elem__cust-count list-elem__cust-count_warenkorb">99</span>
            </div>
            <p class="list-elem__cust-text">warenkorb</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="header-bottom g-list-elem list-elem_header-menu header-menu">
    <div class="g-list-elem list-elem__head-menu-top">
      <div class="list-elem__item_header-menu header-menu__item_alle-prod">
        <p class="header-menu__label_header-menu header-menu__label_alle-prod">Alle Produkte & Dienstleistungen</p>
        <div class="header-menu__bl-cont header-menu__bl-cont_alle-prod g-list-elem">
          <!---->
          <div class="header-menu__sub g-list-elem list-elem_place-cat">
            <div class="list-link list-elem__item_place-cat">
              <a href="/" class="list-link__link_menu-cat">Getränkemarkt</a>
              <a href="/" class="list-link__link_menu-cat">Restaurant</a>
              <a href="/" class="list-link__link_menu-cat">Apotheke</a>
              <a href="/" class="list-link__link_menu-cat">Florist</a>
              <a href="/" class="list-link__link_menu-cat">Bäckerei</a>
              <a href="/" class="list-link__link_menu-cat">Drogeriemarkt</a>
              <a href="/" class="list-link__link_menu-cat">Supermarkt</a>
              <a href="/" class="list-link__link_menu-cat">Tierbedarf</a>
              <a href="/" class="list-link__link_menu-cat">Wein- und Bier-Boutique</a>
              <a href="/" class="list-link__link_menu-cat">Konditorei und Süßwarengeschäft</a>
            </div>
            <div class="list-link list-elem__item_place-cat-sub">
              <a href="/" class="list-link__link_menu-cat-sub">Obst & Gemüse</a>
              <a href="/" class="list-link__link_menu-cat-sub">Frische & Kühlung</a>
              <a href="/" class="list-link__link_menu-cat-sub">Tiefkühl</a>
              <a href="/" class="list-link__link_menu-cat-sub">Nahrungsmittel</a>
              <a href="/" class="list-link__link_menu-cat-sub">Süßes & Salziges</a>
              <a href="/" class="list-link__link_menu-cat-sub">Kaffee, Tee & Kakao</a>
              <a href="/" class="list-link__link_menu-cat-sub">Getränke</a>
              <a href="/" class="list-link__link_menu-cat-sub">Wein, Spirituosen & Tabak</a>
              <a href="/" class="list-link__link_menu-cat-sub">Drogerie & Kosmetik</a>
              <a href="/" class="list-link__link_menu-cat-sub">Baby & Kind</a>
              <a href="/" class="list-link__link_menu-cat-sub">Küche & Haushalt</a>
              <a href="/" class="list-link__link_menu-cat-sub">Tier</a>
            </div>
          </div>
          <!---->
          <div class="header-menu__sub g-list-elem list-elem_place-shop">
            <!---->
            <div class="list-elem__item_place-shop list-elem__item_place-shop-kaffee">
              <div class="list-elem__item-header__place-shop">Kaffee <span>(292)</span></div>
              <div class="list-link list-link_place-shop">
                <a href="/" class="list-link__link_place-shop">Bohnenkaffee & Espresso <span>(108)</span></a>
                <a href="/" class="list-link__link_place-shop">Kaffeekapseln <span>(84)</span></a>
                <a href="/" class="list-link__link_place-shop">Kaffeepads <span>(37)</span></a>
                <a href="/" class="list-link__link_place-shop">Kaffeesahne & Kondensmilch <span>(23)</span></a>
                <a href="/" class="list-link__link_place-shop">Instantkaffee <span>(33)</span></a>
                <a href="/" class="list-link__link_place-shop">Filtertüten <span>(7)</span></a>
              </div>
            </div>
            <div class="list-elem__item_place-shop list-elem__item_place-shop-kaffee">
              <div class="list-elem__item-header__place-shop">Kakao & Mischgetränke <span>(32)</span></div>
              <div class="list-link list-link_place-shop">
                <a href="/" class="list-link__link_place-shop">Kakaopulver <span>(22)</span></a>
                <a href="/" class="list-link__link_place-shop">Pads & Kapseln <span>(1)</span></a>
                <a href="/" class="list-link__link_place-shop">Smoothiepulver <span>(9)</span></a>
              </div>
            </div>
            <div class="list-elem__item_place-shop list-elem__item_place-shop-kaffee">
              <div class="list-elem__item-header__place-shop">Tee <span>(401)</span></div>
              <div class="list-link list-link_place-shop">
                <a href="/" class="list-link__link_place-shop">Schwarzer Tee <span>(82)</span></a>
                <a href="/" class="list-link__link_place-shop">Grüner Tee <span>(64)</span></a>
                <a href="/" class="list-link__link_place-shop">Rooibostee <span>(26)</span></a>
                <a href="/" class="list-link__link_place-shop">Kräuter- & Früchtetee <span>(190)</span></a>
                <a href="/" class="list-link__link_place-shop">Instanttee <span>(7)</span></a>
                <a href="/" class="list-link__link_place-shop">Chai Tee <span>(10)</span></a>
                <a href="/" class="list-link__link_place-shop">Mate Tee <span>(2)</span></a>
                <a href="/" class="list-link__link_place-shop">Matcha Tee <span>(4)</span></a>
                <a href="/" class="list-link__link_place-shop">Weißer Tee <span>(7)</span></a>
                <a href="/" class="list-link__link_place-shop">Teemischungen <span>(6)</span></a>
                <a href="/" class="list-link__link_place-shop">Teekapseln <span>(3)</span></a>
              </div>
            </div>
            <!---->
          </div>
        </div>
      </div>
      <!--  -->
      <div class="list-elem__item_header-menu header-menu__item_alle-anb">
        <p class="header-menu__label_header-menu header-menu__label_alle-anb">alle Anbieter</p>
        <div class="header-menu__bl-cont g-list-elem"></div>
      </div>
      <!--  -->
      <div class="list-elem__item_header-menu header-menu__item_schnel">
        <p class="header-menu__label_header-menu header-menu__label_schnel">
          <span class="header-menu__elem-man_schnel"></span>Schnellfinder
        </p>
        <div class="header-menu__bl-cont"></div>
      </div>
    </div>

    <div class="g-list-elem list-elem__head-menu-bot">
      <div class="list-elem__item_header-menu header-menu__item_lief">
        <p class="header-menu__label_header-menu header-menu__label_lief">Liefere was Du willst</p>
        <div class="header-menu__bl-cont"></div>
      </div>
      <!--  -->
      <div class="list-elem__item_header-menu header-menu__item_freib">
        <p class="header-menu__label_header-menu header-menu__label_freib">Freiburg im Breisgau</p>
        <div class="header-menu__bl-cont"></div>
      </div>
      <!--  -->
      <div class="list-elem__item_header-menu header-menu__item_lang">
        <p class="header-menu__label_header-menu header-menu__label_lang">de</p>
        <div class="header-menu__bl-cont"></div>
      </div>
      <!--  -->
      <div class="list-elem__item_header-menu header-menu__item_search">
        <p class="header-menu__label"></p>
        <div class="header-menu__bl-cont"></div>
      </div>
    </div>
  </div>
</header>
