<h1 class="title__page title__page_home-page">Lass Dir es zügig liefern</h1>
<div id="input-addres" class="bl-input-addres g-list-elem list-elem__addres">
  <ng-select [items]="people" class="bl-input-addres__list"
           [(ngModel)]="selectedSimpleItem">
  </ng-select>
  <button class="g-btn bl-input-addres__btn-lief">Lieferung</button>
  <p class="bl-input-addres__text">oder</p>
  <button class="g-btn bl-input-addres__btn-abhol">Abholung</button>
</div>
<section class="sect sect_brand g-list-elem list-elem_brand">
  <div class="list-elem__elem_brand">
    <div class="list-elem__item_brand">
      <img src="/assets/img/brands/louis.png" alt="Louis" class="list-elem__item_img">
    </div>
  </div>
  <div class="list-elem__elem_brand">
    <div class="list-elem__item_brand">
      <img src="/assets/img/brands/derbeck.png" alt="Derbeck" class="list-elem__item_img">
    </div>
  </div>
  <div class="list-elem__elem_brand">
    <div class="list-elem__item_brand">
      <img src="/assets/img/brands/apotheke.png" alt="Apotheke" class="list-elem__item_img">
    </div>
  </div>
  <div class="list-elem__elem_brand">
    <div class="list-elem__item_brand">
      <img src="/assets/img/brands/australian.png" alt="Australian" class="list-elem__item_img">
    </div>
  </div>
  <div class="list-elem__elem_brand">
    <div class="list-elem__item_brand">
      <img src="/assets/img/brands/subway.png" alt="Subway" class="list-elem__item_img">
    </div>
  </div>
  <div class="list-elem__elem_brand">
    <div class="list-elem__item_brand">
      <img src="/assets/img/brands/tapas.png" alt="Tapas" class="list-elem__item_img">
    </div>
  </div>
</section>
<!---->
<section class="sect sect_find-in-city">
  <h2 class="title__page title__page_sect title__page_sect-find-in-city">Finde uns in Deiner Stadt</h2>
  <div class="g-list-elem list-elem_find-in-city">
    <div class="list-elem__elem_find-in-city">
      <a href="/" class="list-elem__item_find-in-city" style="background-image: url('/assets/img/find-city/Bonn.png')">
        <span class="list-elem__cont_find-in-city">Boon</span>
      </a>
    </div>
    <div class="list-elem__elem_find-in-city">
      <a href="/" class="list-elem__item_find-in-city"
         style="background-image: url('/assets/img/find-city/Munchen.png')">
        <span class="list-elem__cont_find-in-city">München</span>
      </a>
    </div>
    <div class="list-elem__elem_find-in-city">
      <a href="/" class="list-elem__item_find-in-city"
         style="background-image: url('/assets/img/find-city/Nurnberg.png')">
        <span class="list-elem__cont_find-in-city">Nürnberg</span>
      </a>
    </div>
  </div>
</section>
<!---->
<section class="sect sect_how-work">
  <h2 class="title__page title__page_sect title__page_how-work">Wie funktioniert das?</h2>
  <p class="page-text page-text_how-work">
    Das Essen aus Deinem Lieblingsrestaurant, ein großartiges Frühstück oder den Wocheneinkauf nach Hause liefern
    lassen? Das war noch nie so einfach...
  </p>
  <div class="g-list-elem list-elem_how-work">
    <div class="list-elem__item list-elem__item_how-work">
      <p class="list-elem__head_how-work">Deine wahl</p>
      <p class="_how-work__desk_how-work">Such Dir aus, was Du
        magst, lege es in den Warenkorb, geh zur Kasse.</p>
      <div class="list-elem__count-elem__how-work">1</div>
    </div>
    <div class="list-elem__item list-elem__item_how-work">
      <p class="list-elem__head_how-work">Unsere fahrt wahl</p>
      <p class="_how-work__desk_how-work">Wir fahren los, holen Deine
        Bestellungen ab und bringen  sie zu Dir.</p>
      <div class="list-elem__count-elem__how-work">2</div>
    </div>
    <div class="list-elem__item list-elem__item_how-work">
      <p class="list-elem__head_how-work">Dein genuss</p>
      <p class="_how-work__desk_how-work">Du genießt - ganz einfach!</p>
      <div class="list-elem__count-elem__how-work">3</div>
    </div>
  </div>
</section>
<!---->
<section class="sect sect_zum-anbeib">
  <div class="sect__wrap sect__wrap_zum-anbeib">
    <h2 class="title__page title__page_sect title__page_zum-anbeib">Zum Anbeißen</h2>
    <p class="page-text page-text_zum-anbeib">Ein neuer Geschmack. Ein ganz neues Gericht.
      Wenn Dein Herz auftanzt ist es
      definitiv das Richtige. Beiß rein und lad uns auf Dein Handy.</p>
    <div class="g-list-elem list-elem_zum-anbeib">
      <a href="/" class="list-elem__item list-elem__item_zum-anbeib list-elem__item_google-play"></a>
      <a href="/" class="list-elem__item list-elem__item_zum-anbeib list-elem__item_app-store"></a>
    </div>
    <div class="sect__elem_tel"></div>
  </div>
</section>
<!---->
<section class="sect sect_bestellst g-list-elem">
  <div class="bl-data_bestellst">
    <h2 class="title__page title__page_sect title__page_bestellst">
      Du bestellst häufiger?<br>So ist's recht!
    </h2>
    <p class="page-text page-text_bestellst">Wenn Du Dir in Zukunft häufiger mal ein wenig Genuss nach Hause holen
      willst, dann haben wir genau das Richtige für Dich! Denn mit unseren speziell für Dich entwickelten Abo-Packages
      kannst Du eine Menge Geld sparen! Das gleiche gilt übrigens für unser spezielles Bonussystem für registrierte
      Nutzer!
    </p>
  </div>
  <div class="g-list-elem list-elem_abo">
    <div class="list-elem__elem_abo">
      <div class="list-elem__elem_wrap">
        <div class="list-elem__item_abo">
          <div class="list-elem__icon_abo g-list-elem list-elem_stars">
            <div class="list-elem__elem_stars">
              <div class="list-elem__item_stars"></div>
            </div>
          </div>
          <p class="list-elem__head_abo">Abo Basic</p>
          <p class="list-elem__price_abo">20€</p>
          <p class="list-elem__week_abo">/Woche*</p>
          <p class="list-elem__desc_abo">Hierdurch sparst Du bei jeder Bestellung 3%
            vom Gesamtbestellwert!
          </p>
          <a href="/" class="g-btn list-elem__btn_abo">los</a>
        </div>
      </div>
    </div>
    <!---->
    <div class="list-elem__elem_abo">
      <div class="list-elem__elem_wrap">
        <div class="list-elem__item_abo">
          <div class="list-elem__icon_abo g-list-elem list-elem_stars">
            <div class="list-elem__elem_stars">
              <div class="list-elem__item_stars"></div>
            </div>
            <div class="list-elem__elem_stars">
              <div class="list-elem__item_stars"></div>
            </div>
          </div>
          <p class="list-elem__head_abo">Abo Plus</p>
          <p class="list-elem__price_abo">50€</p>
          <p class="list-elem__week_abo">/Woche*</p>
          <p class="list-elem__desc_abo">Bei jeder Bestellung sparst  Du 4% vom Gesamtwert!</p>
          <a href="/" class="g-btn list-elem__btn_abo">los</a>
        </div>
      </div>
    </div>
    <!---->
    <div class="list-elem__elem_abo">
      <div class="list-elem__elem_wrap">
        <div class="list-elem__item_abo">
          <div class="list-elem__icon_abo g-list-elem list-elem_stars">
            <div class="list-elem__elem_stars">
              <div class="list-elem__item_stars"></div>
            </div>
            <div class="list-elem__elem_stars">
              <div class="list-elem__item_stars"></div>
            </div>
            <div class="list-elem__elem_stars">
              <div class="list-elem__item_stars"></div>
            </div>
          </div>
          <p class="list-elem__head_abo">Abo Extra</p>
          <p class="list-elem__price_abo">100€</p>
          <p class="list-elem__week_abo">/Woche*</p>
          <p class="list-elem__desc_abo">Bei jeder Bestellung 5% auf den Gesamtwert
            der Bestellung sparen!</p>
          <a href="/" class="g-btn list-elem__btn_abo">los</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!---->
<section class="sect sect_oko g-list-elem">
  <div class="bl-data_oko">
    <h2 class="title__page title__page_sect title__page_oko">
      Wir fahren ab auf Öko!
    </h2>
    <p class="page-text page-text_oko">Unser Ziel ist es Genuss zu Dir nach Hause zu bringen. Genauso wichtig ist
      uns aber die Umwelt, durch die unsere eGourmery-Kuriere zu Dir fahren. Daher fahren wir ausschlieblich mit
      elektrisch betriebenen Fahrzeugen.</p>
  </div>
  <div class="bl-data_map" style="background: red;">
    <div class="bl-data_map-cont"></div>
  </div>
</section>
<!---->
<section class="sect sect_heute g-list-elem">
  <div class="bl-data_heute-img">
    <div class="bl-data_heute-img-cont">
      <svg width="100%" height="100%">
        <line id="img-line-1" x1="0" y1="0" x2="100%" y2="100%" stroke="#979797" />
        <line id="img-line-2" x1="0" y1="100%" x2="100%" y2="0" stroke="#979797" />
      </svg>
    </div>
  </div>
  <div class="bl-data_heute">
    <h2 class="title__page title__page_sect title__page_heute">
      Werde heute Teil von eGourmery als Partnerunternehmen
    </h2>
    <p class="page-text page-text_heute">Du möchtest Teil von eGourmery werden,
      mit Deinem Unternehmen von unserem Onlineservice und unserem ökologisch
      wertvollem Lieferservice profitieren, neue Kunden erschließen und
      bestehende Kunden noch stärker an Dich binden?
      <br><br>
      Melde Dich als Partner an und wir nehmen Kontakt mit Dir auf.</p>
    <a href="/" class="g-btn sect__btn-heute">Partner werden</a>
  </div>
</section>
<!---->
