<footer id="footer">

  <div class="footer__elem footer__inform-wrap g-list-elem list-elem_inform-wrap">

    <div class="g-list-elem__wrap list-elem__wrap_inf-footer-wrap">
      <div class="g-list-elem__item list-elem__item_inf-footer-wrap g-list-elem list-elem_inform-footer">
        <div class="g-list-elem__wrap list-elem__wrap_inform-footer">
          <div class="g-list-elem__item list-elem__item_inform-footer">
            <p class="list-elem__item-header list-elem__item-header_inform-footer">Mehr Informationen</p>
            <div class="list-elem__item-cont list-elem__item-cont_inform-footer">
              <div class="g-list-elem list-item__footer-list">
                <div class="g-list-elem__item list-elem__item_footer-list">
                  <a href="/" class="list-elem__link_footer-list">Franchise</a>
                </div>
                <div class="g-list-elem__item list-elem__item_footer-list">
                  <a href="/" class="list-elem__link_footer-list">AGB</a>
                </div>
                <div class="g-list-elem__item list-elem__item_footer-list">
                  <a href="/" class="list-elem__link_footer-list">Datenschutz</a>
                </div>
                <div class="g-list-elem__item list-elem__item_footer-list">
                  <a href="/" class="list-elem__link_footer-list">Impressum</a>
                </div>
                <div class="g-list-elem__item list-elem__item_footer-list">
                  <a href="/" class="list-elem__link_footer-list">Kontakt</a>
                </div>
                <div class="g-list-elem__item list-elem__item_footer-list">
                  <a href="/" class="list-elem__link_footer-list">Presse</a>
                </div>
                <div class="g-list-elem__item list-elem__item_footer-list">
                  <a href="/" class="list-elem__link_footer-list">Für Kooperationspartner</a>
                </div>
                <div class="g-list-elem__item list-elem__item_footer-list">
                  <a href="/" class="list-elem__link_footer-list">Jobs</a>
                </div>
                <div class="g-list-elem__item list-elem__item_footer-list">
                  <a href="/" class="list-elem__link_footer-list">Kooperationspartner AGB</a>
                </div>
                <div class="g-list-elem__item list-elem__item_footer-list">
                  <a href="/" class="list-elem__link_footer-list">Fahrer werden</a>
                </div>
                <div class="g-list-elem__item list-elem__item_footer-list">
                  <a href="/" class="list-elem__link_footer-list">Über uns</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="g-list-elem__wrap list-elem__wrap_inform-footer">
          <div class="g-list-elem__item list-elem__item_inform-footer">
            <p class="list-elem__item-header list-elem__item-header_inform-footer">Mehr Informationen</p>
            <div class="list-elem__item-cont list-elem__item-cont_inform-footer">
              <p class="text_inform-footer">Eine verschlüsselte Verbindung und verschiedene
                Zahlungsmöglichkeiten — so ist Einkaufen sicher.</p>
              <div class="g-list-elem list-elem_pay">
                <div class="g-list-elem__item list-elem__item_pay">
                  <a href="/" class="list-elem__link list-elem__link_pay list-elem__link_pay-icon">
                    <img src="/assets/icon/pay/paypal-icon.png" alt="Paypal">
                  </a>
                </div>
                <div class="g-list-elem__item list-elem__item_pay">
                  <a href="/" class="list-elem__link list-elem__link_pay list-elem__link_visa-icon">
                    <img src="/assets/icon/pay/visa-icon.png" alt="Visa">
                  </a>
                </div>
                <div class="g-list-elem__item list-elem__item_pay">
                  <a href="/" class="list-elem__link list-elem__link_pay list-elem__link_mast-icon">
                    <img src="/assets/icon/pay/mastercard-icon.png" alt="Mastercard">
                  </a>
                </div>
                <div class="g-list-elem__item list-elem__item_pay">
                  <a href="/" class="list-elem__link list-elem__link_pay list-elem__link_sofort-icon">
                    <img src="/assets/icon/pay/sofort-icon.png" alt="Sofort">
                  </a>
                </div>
                <div class="g-list-elem__item list-elem__item_pay">
                  <a href="/" class="list-elem__link list-elem__link_pay list-elem__link_coupon-icon">
                    <img src="/assets/icon/pay/coupon-icon.png" alt="Coupon">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="g-list-elem__wrap list-elem__wrap_inform-footer">
          <div class="g-list-elem__item list-elem__item_inform-footer">
            <p class="list-elem__item-header list-elem__item-header_inform-footer">Besuchen Sie uns</p>
            <div class="list-elem__item-cont list-elem__item-cont_inform-footer">
              <p class="text_inform-footer">Exklusive News und individuelle Beratung durch unser Social Media Team.</p>
              <div class="g-list-elem list-elem_social">
                <div class="g-list-elem__item list-elem__item_social">
                  <a href="/" class="list-elem__link list-elem__link_social list-elem__link_face-icon"></a>
                </div>
                <div class="g-list-elem__item list-elem__item_social">
                  <a href="/" class="list-elem__link list-elem__link_social list-elem__link_tw-icon"></a>
                </div>
                <div class="g-list-elem__item list-elem__item_social">
                  <a href="/" class="list-elem__link list-elem__link_social list-elem__link_googl-icon"></a>
                </div>
                <div class="g-list-elem__item list-elem__item_social">
                  <a href="/" class="list-elem__link list-elem__link_social list-elem__link_inst-icon"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="g-list-elem__wrap list-elem__wrap_form-footer">
      <div class="g-list-elem__item list-elem__item_inf-footer-wrap footer__form-wrap">
        <p class="footer-form__header">Schreib uns was</p>
        <form action="/" class="g-form form-footer">
          <p class="form__mess">Yevheniia Konstantynova</p>
          <div class="form__field">
            <input type="text" name="email"
                   class="g-input"
                   placeholder="Deine Email-adresse ">
          </div>
          <div class="form__field">
            <textarea name="message"
                      class="g-textarea form-footer__textarea"
                      placeholder="Deine Nachricht an uns"></textarea>
          </div>
          <button class="g-btn bl form-footer__btn">los</button>
        </form>
      </div>
    </div>
  </div>

  <div class="footer__elem tags-link tags-link__footer">
    <div class="tags-link__item tags-link__item-footer">
      <a href="/" class="tags-link__link tags-link__link_footer">Getränkemarkt</a>
    </div>
    <div class="tags-link__item tags-link__item-footer">
      <a href="/" class="tags-link__link tags-link__link_footer">Apotheke / Medikamente</a>
    </div>
    <div class="tags-link__item tags-link__item-footer">
      <a href="/" class="tags-link__link tags-link__link_footer">Supermarkt</a>
    </div>
    <div class="tags-link__item tags-link__item-footer">
      <a href="/" class="tags-link__link tags-link__link_footer">Lebensmittel</a>
    </div>
    <div class="tags-link__item tags-link__item-footer">
      <a href="/" class="tags-link__link tags-link__link_footer">Florist / Blumen</a>
    </div>
    <div class="tags-link__item tags-link__item-footer">
      <a href="/" class="tags-link__link tags-link__link_footer">Bäckerei / Frühstück</a>
    </div>
    <div class="tags-link__item tags-link__item-footer">
      <a href="/" class="tags-link__link tags-link__link_footer">Restaurant / Food</a>
    </div>
    <div class="tags-link__item tags-link__item-footer">
      <a href="/" class="tags-link__link tags-link__link_footer">Konditorei / Süßwarengeschäft</a>
    </div>
    <div class="tags-link__item tags-link__item-footer">
      <a href="/" class="tags-link__link tags-link__link_footer">Drogeriemarkt</a>
    </div>
    <div class="tags-link__item tags-link__item-footer">
      <a href="/" class="tags-link__link tags-link__link_footer">Tierbedarf</a>
    </div>
    <div class="tags-link__item tags-link__item-footer">
      <a href="/" class="tags-link__link tags-link__link_footer">Metzgerei</a>
    </div>
    <div class="tags-link__item tags-link__item-footer">
      <a href="/" class="tags-link__link tags-link__link_footer">Wein-Boutique</a>
    </div>
    <div class="tags-link__item tags-link__item-footer">
      <a href="/" class="tags-link__link tags-link__link_footer">Bier-Boutique</a>
    </div>
    <div class="tags-link__item tags-link__item-footer">
      <a href="/" class="tags-link__link tags-link__link_footer">Dienstleistung buchen</a>
    </div>
  </div>

  <div class="footer__elem g-list-elem list-elem__deliv-prod">
    <div class="g-list-elem__wrap list-elem__wrap_deliv-prod">
      <div class="g-list-elem__item list-elem__item_deliv-prod">
        <p class="list-elem__item-header list-elem__item-header_deliv-prod">Lieferservice in augsburg, essen bestellen
          in
          Berlin & lieferservice in Bielefeld</p>
        <p class="list-elem__item-cont list-elem__item-cont_deliv-prod">Vapiano, McDonald's, KFC, Beets & Roots,
          McDonald's, Schiller Burger, Chicken Buzz, McDonald's, L'Osteria, KFC.</p>
      </div>
    </div>
    <div class="g-list-elem__wrap list-elem__wrap_deliv-prod">
      <div class="g-list-elem__item list-elem__item_deliv-prod">
        <p class="list-elem__item-header list-elem__item-header_deliv-prod">Lieferservice in freiburg, essen bestellen
          in
           & lieferservice in Gamburg</p>
        <p class="list-elem__item-cont list-elem__item-cont_deliv-prod">Vapiano, McDonald's, Dean & David, McDonald's,
          L'Osteria, Dean & David, McDonald's, Thang Long, The Burger Lab,
          Al Volo.</p>
      </div>
    </div>
    <div class="g-list-elem__wrap list-elem__wrap_deliv-prod">
      <div class="g-list-elem__item list-elem__item_deliv-prod">
        <p class="list-elem__item-header list-elem__item-header_deliv-prod">Lieferservice in mannheim, essen bestellen
           in
          Mönchengladbach & lieferservice in München</p>
        <p class="list-elem__item-cont list-elem__item-cont_deliv-prod">McDonald's, L'Osteria, coa, McDonald's, Vapiano,
          L'Osteria, Lo Studente, L'Osteria, yum2take, McDonald’s.</p>
      </div>
    </div>
  </div>

</footer>

